@model Automovil
@{
    ViewData["Title"] = "EditarAuto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Editar Auto
  </div>
  <div class="card-body">
    
      <form asp-action="EditarAuto" asp-controller="Mantenedor" method="post">
           <input asp-for="Id" type="hidden" class="form-control" >

  <div class="mb-3">
    <label class="form-label">Marca del Auto</label>
    <input asp-for="Marca" type="text" class="form-control" >
    <span asp-validation-for= "Marca" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label class="form-label">Modelo de Auto</label>
    <input asp-for="Model" type="text" class="form-control" >
    <span asp-validation-for= "Model" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label class="form-label">Año de produccion</label>
    <input asp-for="Año" type="text" class="form-control" >
    <span asp-validation-for= "Año" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label class="form-label">Kilometros</label>
    <input asp-for="Kilometros"  type="text" class="form-control" >
    
  </div>

  <div class="mb-3">
    <label  class="form-label">Precio</label>
    <input asp-for="Precio" type="text" class="form-control" >
  </div>
 
  <button type="submit" class="btn btn-primary">Guardar</button>
  <a asp-action="ListarAutos" asp-controller="Mantenedor" class="btn btn-warning">Volver a la lista</a>
</form>

  </div>
</div>

